<% content_for :header_middle do %>
  <div class="relative flex-grow overflow-hidden rounded-full bg-gray-200 max-w-lg mx-auto">
    <div class="h-2 rounded-full bg-indigo-600" style="width: <%= @assignment.answered_questions.count.to_f / @assignment.question_count * 100 %>%"></div>
  </div>
<% end %>

<div class="max-w-lg mx-auto h-full flex flex-col justify-center">
  <% if @question.question_attachment.present? %>
    <div class="mb-6">
      <canvas />

      <script>
        <%= @question.question_attachment.attachable.code.html_safe %>

        execute({
          answer: <%= @question.answer.to_json.html_safe %>,
          params: <%= @question.question_attachment.attachable_parameters&.to_json&.html_safe || {} %>
        });
      </script>
    </div>
  <% end %>

  <div class="mb-6">
    <label class="block text-lg font-medium text-gray-900">
      <%= @question.text %>
    </label>
  </div>

  <% if @question.possible_answers.any? %>
    <div class="grid grid-cols-2 gap-4">
      <% @question.possible_answers.shuffle.each_with_index do |answer, index| %>
        <%= button_to answer.value, assignment_question_answer_path(@assignment, @question), method: :post, params: { answer: answer.value }, class: "w-full py-3 px-4 cursor-pointer border border-gray-300 rounded-md shadow-sm text-md font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", autofocus: index == 0 %>
      <% end %>
    </div>
  <% else %>
    <%= form_with url: assignment_question_answer_path(@assignment,@question), method: :post, local: true, class: "space-y-6" do |f| %>
      <%= f.text_field :answer, class: "w-full py-3 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", placeholder: "Въведете вашият отговор тук", autocomplete: "off", required: true, autofocus: true %>
      <%= f.submit "Отговори", class: "w-full flex justify-center py-3 px-4 border border-transparent cursor-pointer rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    <% end %>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form');
    const answerInput = document.querySelector('input[name="answer"]');

    form.addEventListener('submit', function(event) {
      const answer = answerInput.value;
      const submitButton = document.querySelector('input[type="submit"]');
      const answerButtons = document.querySelectorAll('button');
      answerButtons.forEach(button => {
        button.disabled = true;
        button.classList.add('opacity-50', 'cursor-not-allowed');
      });
      submitButton.disabled = true;
      submitButton.textContent = 'Отговори...';
      submitButton.classList.add('opacity-50', 'cursor-not-allowed');
    });
  });
</script>
