
<div class="flex-grow mx-auto flex items-center justify-center flex-col">
  <div>
    <% percentage = (@assignment.correct_answers.count.to_f / @assignment.questions.count * 100).floor %>
    <div class="text-center text-6xl mb-5">
      <% case percentage when 100 %>๐
      <% when 90..99 %>๐๏ธ
      <% when 80..89 %>๐ฅ
      <% when 70..79 %>๐ฅ
      <% when 60..69 %>๐ฅ
      <% when 50..59 %>๐ฌ
      <% when 40..49 %>๐
      <% when 30..39 %>๐
      <% when 20..29 %>๐ณ
      <% when 10..19 %>๐ข
      <% else %>๐ญ
      <% end %>
    </div>
    <h2 class="text-center text-3xl font-extrabold text-gray-900">
      ะขะตัััั ะต ะทะฐะฒัััะตะฝ!
    </h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      ะะฐัะธัั ะบัะฐะตะฝ ัะตะทัะปัะฐั: <%= @assignment.correct_answers.count %> ะพั <%= @assignment.questions.count %>
    </p>
    <p class="mt-1 text-center text-sm text-gray-600">
      <% seconds = ((@assignment.completed_at  - @assignment.created_at)).to_i %>
      <% hours = seconds / 3600 %>
      <% minutes = (seconds % 3600) / 60 %>
      <% remaining_seconds = seconds % 60 %>
      <% if hours > 0 %>
        <%= format("%02dั %02dะผ %02dั", hours, minutes, remaining_seconds) %>
      <% else %>
        <%= format("%02dะผ %02dั", minutes, remaining_seconds) %>
      <% end %>
    </p>
  </div>

  <div class="mt-8 sm:rounded-lg">
    <div class="space-y-6">
      <div class="text-center">
        <p class="text-lg text-gray-900">
          <% percentage = (@assignment.correct_answers.count.to_f / @assignment.questions.count * 100).floor %>
          <% case percentage
              when 100 %>
            <%= "ะะตััะตะบัะตะฝ ัะตะทัะปัะฐั!" %>
          <% when 90..99 %>
            <%= "ะัะปะธัะตะฝ ัะตะทัะปัะฐั! ะะพััะธ ะฟะตััะตะบัะฝะพ!" %>
          <% when 80..89 %>
            <%= "ะะฝะพะณะพ ะดะพะฑัะต! ะัะพะดัะปะถะฐะฒะฐะน ะฒ ัััะธั ะดัั!" %>
          <% when 70..79 %>
            <%= "ะะพะฑัะฐ ัะฐะฑะพัะฐ! ะัะต ะผะฐะปะบะพ ัะฟัะฐะถะฝะตะฝะธั!" %>
          <% when 60..69 %>
            <%= "ะะต ะต ะทะปะต! ะะพะถะตั ะธ ะฟะพ-ะดะพะฑัะต!" %>
          <% when 50..59 %>
            <%= "ะะผะฐั ะฝัะถะดะฐ ะพั ะฟะพะฒะตัะต ัะฟัะฐะถะฝะตะฝะธั" %>
          <% when 40..49 %>
            <%= "ะขััะฑะฒะฐ ะดะฐ ัะต ะฟะพััะฐัะฐะตั ะฟะพะฒะตัะต" %>
          <% when 30..39 %>
            <%= "ะะพััะฐ ะณัะตัะบะธ. ะัะพะดัะปะถะฐะฒะฐะน ะดะฐ ััะธั!" %>
          <% when 20..29 %>
            <%= "ะะฝะพะณะพ ะณัะตัะบะธ. ะะต ัะต ะพัะบะฐะทะฒะฐะน!" %>
          <% when 10..19 %>
            <%= "ะขััะฑะฒะฐ ะผะฝะพะณะพ ะดะฐ ัะฟัะฐะถะฝัะฒะฐั!" %>
          <% else %>
            <%= "ะะฐะฟะพัะฝะธ ะพัะฝะฐัะฐะปะพ ะธ ัะต ะฟะพััะฐัะฐะน ะฟะพะฒะตัะต!" %>
          <% end %>
        </p>
      </div>

      <div>
        <%= link_to "ะัะฐะน", calendar_path, class: "w-full flex cursor-pointer justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", autofocus: true %>
      </div>
    </div>
  </div>
</div>
