<div class="flex-grow mx-auto flex items-center justify-center flex-col">
  <div class="max-w-lg">
    <% percentage = (@assignment.correct_answers.count.to_f / @assignment.questions.count * 100).floor %>
    <div class="text-center text-6xl mb-5">
      <%= emoji_for_score(percentage) %>
    </div>
    <h2 class="text-center text-3xl font-extrabold text-gray-900">
      Резултат: <%= percentage %>%
    </h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      Правилни отговори: <%= @assignment.correct_answers.count %> от <%= @assignment.questions.count %>
    </p>
    <% if @assignment.completed_at? %>
      <p class="mt-1 text-center text-sm text-gray-600">
        Време: <%= distance_in_time(@assignment.created_at, @assignment.completed_at) %>
      </p>
    <% end %>
  </div>

  <div class="mt-8 w-full max-w-lg">
    <div class="space-y-6">
      <%= render "answers", assignment: @assignment, expanded: true %>
    </div>
  </div>
</div>
