<div class="page">
  <header>
    <h1>Въпроси</h1>
    <%= link_to 'Нов въпрос', new_overseer_question_path, class: 'button button-primary' %>
  </header>

  <main>
    <% if @questions.any? %>
      <table>
        <thead>
          <tr>
            <th>Elo</th>
            <th>Въпрос</th>
            <th>Теми</th>
            <th/>
          </tr>
        </thead>
        <tbody>
          <% @questions.each do |question| %>
            <tr>
              <td>
                <%= question.elo %>
              </td>
              <td>
                <div><%= question.text %></div>
              </td>
              <td>
                <% if question.topics.any? %>
                  <%= question.topics.map(&:name).join(', ') %>
                <% else %>
                  Няма
                <% end %>
              </td>
              <td class="actions">
                <%= link_to 'Редактирай', edit_overseer_question_path(question), class: 'text-indigo-600 hover:text-indigo-900' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert-info">
        <p>Няма въпроси.</p>
      </div>
    <% end %>
  </main>
  <footer>
    <%= paginate @questions %>
  </footer>
</div>
